
header {
	background-image:url("../images/all/footer.jpg"); 
}
footer {
	background-image:url("../images/all/footer.jpg"); 
	margin: 0 auto;
	overflow:hidden;
}
.body {
  min-height: 100vh;
}
.container-fluid {
	background:#f7f5e2;
	width: 100%;
	height: 100%; /* A changer selon la hauteur que tu souhaite */
}
.numbox{
		background-image:url("../images/all/page1_shapedate.png");
		width:72px;
		height:78px;
		overflow:hidden;
		float:left;
		margin: 0 19px 0px 10px;
}
.numbox span {
		font:18px/22px 'IM Fell French Canon', sans-serif;
		color:#fff;
		font-style:italic;
		width:72px;
		text-align:center;
		margin-top:4px;
		display:block;
}
.numbox strong {
		font:30px/36px Georgia, "Times New Roman", Times, serif;
		color:#f6a82d;
		width:72px;
		font-weight:bold;
		text-align:center;
		margin-top:-1px;
		display:block;
}
.img-thumbnailShop{
		max-width : 200px;
		heigth: auto;
		display: block;
 }
.img-thumbnailEvent{
		max-width : 250px;
		heigth: auto;
		display: block;
 }
 
.img-thumbnailEventCat{
		max-width : 150px;
		heigth: auto;
		display: block;
 }
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	width:100%;
}
.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;>
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.carousel-indicators li {
    background-color: gray!important;
}
.carousel-indicators .active {
    background-color: black!important;
}
.carousel-control-next-icon{
	background-color: gray!important;
}
.carousel-control-prev-icon{
	background-color: gray!important;
}